@mixin pad {
    @media(max-width: 768px){
        @content
    }
}
@mixin desktop {
    @media(max-width: 992px){
        @content
    }
}

@include pad(){
    .rwd-hide{
          display: none;
    }
}

*,*::before,*::after{
    box-sizing:border-box; 
    font-family:Microsoft JhengHei; 
}
.logo{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url(https://github.com/asd54035403/Week7/blob/master/img/d%E2%80%99Perfume/d%E2%80%99Perfume@2x.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
}
.board{
    background-image: url(https://github.com/asd54035403/Week7/blob/master/img/board/board-lg.png?raw=true);
    background-size: cover;
    height: 870px;
    @include pad(){
        background-position: 25% 50%;
    }
    p{
        font-size: $font-size-lg;
    }
    button{

        border: 1px solid $white ;
        color: $white;
    }
}
.subscribe{
    background-image: url(https://github.com/asd54035403/Week7/blob/master/img/subscribe/subscribe-sm.png?raw=true);
    background-size: cover;
    height: 600px;
    @include pad(){
        background-position: 50% 50%;
        margin-bottom: 0;
    }
    
    ::placeholder {
        color: $dark;
        font-size: 1em;
    }
    form{
       width: 345px; 
    }
}

.footer{
    img {
        filter: brightness(100);
    }
    span{
        font-size:$font-size-sm;
        
    }
}


